<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.hongjian.oa.mapper.LeaveFormMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="tech.hongjian.oa.entity.LeaveForm">
        <id column="id" property="id" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="creator_id" property="creatorId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="duration" property="duration" />
        <result column="leave_type" property="leaveType" />
        <result column="reason" property="reason" />
        <result column="status" property="status" />
        <result column="detail_reason" property="detailReason" />
    </resultMap>

    <resultMap id="resultWithCreator" type="tech.hongjian.oa.entity.LeaveForm" extends="BaseResultMap">
        <association property="creator" javaType="tech.hongjian.oa.entity.User">
            <id column="uid" property="id" />
            <result column="username" property="username" />
            <result column="name" property="name" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        created_at,
        updated_at,
        creator_id, start_time, end_time, duration, leave_type, reason, status, detail_reason
    </sql>
    <select id="queryByParams" resultMap="resultWithCreator">
        select
        f.*, u.id uid, u.username, u.name
        from `leave_form` f left join `user` u on f.creator_id=u.id
        <where>
            <if test="type != null">
                and f.leave_type=#{type}
            </if>
            <if test="creatorId != null">
                and f.creator_id=#{creatorId}
            </if>
        </where>
    </select>
    <select id="queryById" resultMap="resultWithCreator">
        select
            f.*, u.id uid, u.username, u.name
        from `leave_form` f left join `user` u on f.creator_id=u.id
        where f.id=#{id}
    </select>


</mapper>
