<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.hongjian.oa.mapper.ModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="tech.hongjian.oa.entity.Model">
        <result column="id" property="id" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="name" property="name" />
        <result column="model_id" property="modelId" />
        <result column="description" property="description" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="model_comment" property="modelComment" />
        <result column="model_type" property="modelType" />
        <result column="model_editor_json" property="modelEditorJson" />
        <result column="thumbnail" property="thumbnail" />
        <result column="version" property="version" />
    </resultMap>

    <resultMap id="BasePropResultMap" type="tech.hongjian.oa.entity.Model">
        <result column="id" property="id" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="name" property="name" />
        <result column="model_id" property="modelId" />
        <result column="description" property="description" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="model_comment" property="modelComment" />
        <result column="model_type" property="modelType" />
        <result column="version" property="version" />
    </resultMap>

    <resultMap id="ResultWithUser" extends="BasePropResultMap" type="tech.hongjian.oa.entity.Model">
        <association property="createdByUser" javaType="tech.hongjian.oa.entity.User" columnPrefix="c_">
            <result column="id" property="id" />
            <result column="username" property="username" />
            <result column="name" property="name" />
            <result column="email" property="email" />
            <result column="mobile" property="mobile" />
            <result column="gender" property="gender" />
        </association>
        <association property="updatedByUser" javaType="tech.hongjian.oa.entity.User" columnPrefix="u_">
            <result column="id" property="id" />
            <result column="username" property="username" />
            <result column="name" property="name" />
            <result column="email" property="email" />
            <result column="mobile" property="mobile" />
            <result column="gender" property="gender" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        created_at,
        updated_at,
        name, model_id, description, created_by, updated_by, model_comment, model_type, model_editor_json, thumbnail, version
    </sql>
    <select id="selectByParams" resultMap="ResultWithUser">
        select
        m.*,
        c.id c_id, c.username c_username, c.name c_name, c.email c_email, c.mobile c_mobile, c.gender c_gender,
        u.id u_id, u.username u_username, u.name u_name, u.email u_email, u.mobile u_mobile, u.gender u_gender
        from `model` m left join `user` c on m.created_by = c.id left join `user` u on m.updated_by = u.id
        <where>
            <if test="params.modelId != null">
                upper(`model_id`) like upper(#{params.modelId})
            </if>
            <if test="params.name != null">
                and upper(`name`)  like upper(#{params.name})
            </if>
            <if test="params.type != null">
                and model_type = #{params.type}
            </if>
        </where>
    </select>

</mapper>
