<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.hongjian.oa.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
        type="tech.hongjian.oa.entity.Permission">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="url" property="url" />
        <result column="operation" property="operation" />
        <result column="group" property="group" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        name, description, url,
        operation, `group`
    </sql>

    <sql id="Temp_Base_Column_List">
        t.id,
        t.create_time,
        t.update_time,
        t.name, t.description, t.url, t.operation,
        t.group
    </sql>

    <select id="findUserPermission" resultMap="BaseResultMap" resultType="Permission">
        select
        <include refid="Temp_Base_Column_List" />
        from `permission` t, `user_permission_rel` r
        where t.id = r.permission_id and r.user_id = #{userId}
    </select>


</mapper>
