<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.hongjian.oa.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="tech.hongjian.oa.entity.User">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="email" property="email" />
        <result column="department_id" property="departmentId" />
        <result column="mobile" property="mobile" />
        <result column="gender" property="gender" />
        <result column="status" property="status" />
        <result column="avatar" property="avatar" />
        <result column="post" property="post" />
    </resultMap>
    <resultMap id="UserSelectOptMap" type="tech.hongjian.oa.entity.User">
        <result column="id" property="id" />
        <result column="username" property="username" />
        <result column="name" property="name" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="gender" property="gender" />
        <result column="department" property="department" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        username, password, name, email, department_id, mobile, gender, status, post
    </sql>
    <select id="selectByParams" resultMap="UserSelectOptMap">
        select
        u.id, u.username, u.name, u.email, u.mobile, u.gender, u.status, d.name as department
        from `user` u left join department d on u.department_id=d.id
        <where>
            <if test="status != null">
                and status=#{status}
            </if>
            <if test="dept != null">
                and department_id=#{dept}
            </if>
            <if test="keyword != null">
                and (email like #{keyword} or username like #{keyword} or name like #{keyword})
            </if>
        </where>
        order by ${prop} ${order}
    </select>

</mapper>
